.iconYellow{
  color: #f4e242;
}

ion-button{
  margin: auto !important;
  width: 80%;
  border-radius: 10px !important;
}
ion-toolbar{
  border-bottom: none !important;
}
ion-item:hover{
  cursor: pointer;
  transform: scale(1.01);
}
.title{
  font-style: italic;
  text-align: center;
}